<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="side" opened>
    <mat-toolbar color="primary">Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/create-task" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        <span>Crear Tarea</span>
      </a>
      <a mat-list-item routerLink="/list-tasks" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        <span>Listar Tareas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gestión de Tareas</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
